

.slider{
	position: relative;
	width: 60vw;
	height: 25vw;
	overflow: hidden;
	border: 2px solid #800080;
}

.slides{
	width: 500%;
	height: 25vw;
	display: flex;
}

.slides  input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	
	width: 60vw;
	height: 25vw;
}

.link-container{
	position: absolute;
	bottom: 5px;
	padding: 0 0 10px 3vw;
	width: 55vw;
	height: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	z-index: 0;
}

.link-container a{
	color:#fff;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;	
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1;
	font-weight: 700;	
	padding: 2px 5px;	
	background: rgba(100,100,100, 0.3);
	border-radius: 5px;
}

.slide .link-container a:hover{
	color: #fff;
	background: rgba(128, 0, 128, 0.9);
}

.navegacao-manual{
	position: absolute;
	width: 60vw;
	margin-top: -24vw;
	display: flex;
	justify-content: center;
	z-index: 0;
}

.manual-btn{
	border: 2px solid #000;
	padding: 4px;
	border-radius: 50%;
	width: 2px;
	height: 2px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: #800080;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}

.navegacao-auto{
	position: absolute;
	display: flex;
	width: 60vw;
	margin-top: 1vw;
	justify-content: center;
}

.navegacao-auto div{
	border: 2px solid #fff; 
	padding: 5px;
	border-radius: 50%;
}

.navegacao-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navegacao-auto .auto-btn1{
	background: #000;
}

#radio2:checked ~ .navegacao-auto .auto-btn2{
	background: #000;
}

#radio3:checked ~ .navegacao-auto .auto-btn3{
	background: #000;
}

#radio4:checked ~ .navegacao-auto .auto-btn4{
	background: #000;
}

@media screen and (min-width: 491px) and (max-width: 800px){
	.slider{	
		width: 90vw;
		height: 33vw;	
	}

	.slides{
		height: 33vw;	
	}

	.slide img{	
		width: 90vw;
		height: 33vw;
	}

	.link-container{	
		padding: 0 0 5px 3vw;
		width: 85vw;
		height: 3em;
	}

	.link-container a{		
		font-size: 1.2em;		
	}

	.navegacao-manual{	
		width: 90vw;
		margin-top: -32vw;		
	}

	.manual-btn{		
		padding: 4px;		
		width: 2px;
		height: 2px;		
	}

	.navegacao-auto{		
		width: 90vw;
		margin-top: 1vw;		
	}
} 

@media (max-width: 490px){
	.slider{		
		width: 100vw;
		height: 55vw;		
	}

	.slides{
		width: 500%;
		height: 55vw;		
	}

	.slide img{		
		width: 100vw;
		height: 55vw;
	}

	.link-container{
		bottom: 5px;
		padding: 0 0 10px 3vw;
		width: 100vw;
		height: 3em;			
	}

	.link-container a{		
		font-size: 1.2em;
		max-width: 90vw;		
	}

	.navegacao-manual{		
		width: 100vw;
		margin-top: -52vw;		
	}
	
	.navegacao-auto{		
		width: 100vw;
		margin-top: 3vw;		
	}
}

@media (min-width: 210px) and (max-width: 271px){
	.navegacao-manual{	
		width: 100vw;
		margin-top: -53vw;		
	}

	.navegacao-auto{		
		width: 100vw;
		margin-top: 2vw;		
	}
}

@media (max-width: 209px){
	.slider{
		display: none;
	}
}