
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body{
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
}

.header{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background:   #0a0f0f;	
}

.div-logo{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height:40px;
	padding: 10px 80px 10px 5vw;
	background:  #800080;
}

.logo{
	margin: 10px 0;	
}

.div-logo .logo h1{
	font-family: 'PT Sans', sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 40px;
	margin: auto 0 ;
}

.menu-categorias{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5vw 10px 5vw;
}

.menu-flut1{		
	position: absolute;
	top: 0;
	height: 50vh;
	width: 25vw;
	background: rgba(100,100,100, 0.5);
	display: none;
	z-index: 2;
}

#check{
	display: none;
}

label{
	cursor: pointer;
	position: relative;
	display: block;
	height: 25px;
	width: 30px;
	order: 1;
	z-index: 3;
	margin: auto 0 8px 0;
}

label  span{
	position:absolute;
	display: block;
	width: 100%;
	height: 5px;
	margin:5px 0;
	border-radius: 30px;
	background: #fff;		
}

label span:nth-child(1){
	top: 0;
}

label span:nth-child(2){
	top: 9px;
}

label span:nth-child(3){
	top: 18px;
}

#check:checked ~ label span:nth-child(1){
	transform: rotate(-45deg);
	top: 9px;		
}

#check:checked ~ label span:nth-child(2){
	display: none;
}

#check:checked ~ label span:nth-child(3){
	transform: rotate(45deg);
	top: 9px;		
}

.menu3 li a{
	text-decoration: none;
	color: #fff;
	display: block;
	background: #0a0f0f;
	width: 25vw;
	box-sizing: border-box;
	padding: 15px 15px 15px 5vw;
}

.menu3 li a:hover{
	box-shadow: 0 -4px 0px #800080 inset,
	500px 0 0 rgba(255, 255, 255, 0.5) inset;
}

.menu-flut2{
	position: absolute;
	margin-top: 60px;		
	width: 25vw;
	background: rgba(100,100,100, 0.5);
	display: block;
	z-index: 2;
}

.menu3{
	position: absolute;
	top: 53px;
}

#buscar{
	border: 1px solid #000;
	border-radius: 50px;
	text-indent: 15px;
	height: 30px;
	width: 200px;
	font-size: 18px;
	outline: none;
	background: #ddd;
}

#buscar:focus{
	width: 350px;
	background: #fff;
}

.container-global{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.dia-data{
	margin: auto;
	margin-top: 5vw;
	margin-bottom: 1vw;
}

.dia-data p{
	font-size: 1em;
	font-family: Montserrat, sans-serif;
}

.slider-e-ad{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:90vw;
	margin: auto;
	margin-bottom: 5vw;
}

.ad-topo{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	height: 23vw;
	--cor1: #000;
	--cor2: #e600e6;
	width: 28vw;
	align-self: flex-start;
}

.ad-topo p{
	font-size: 3.5vw;
	color: #fff;
	text-shadow: 1px 1px #000;
}

.container-conteudo{	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90vw;
	margin: auto;
	padding-right: 0px;
	position: relative;
}

.secao-noticias{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 58vw;	
	border-top: 2px solid #660066;
}

.anuncio-secao-noticias{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	width: 32vw;	
	height: 22vw;
	margin: 20px auto 20px auto;
	background: #13e;
	--cor1: #660066;
	--cor2: #e600e6;
	border: 2px solid black;		
}

.anuncio-secao-noticias p{
	font-size: 4vw;
	color: #fff;
	text-shadow: 1px 1px 1px black;
}

.sidebar{
	display: flex;	
	flex-wrap: wrap;
	width: 28vw;
}

.materia{
	display:flex;
	flex-wrap: nowrap;
	padding-left: 10px;
	border-bottom: 2px solid #660066;
	align-items: center;
}

.secao-noticias > div:nth-child(5){
	border-top: 2px solid #660066;
}

.foto-noticia{
	min-width: 27vw;
	height: 16vw;
	margin: 2vw 0 2vw 0;
}

.descricao-noticia{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	
	margin-left: 15px;	
	min-height: 16vw;
}

.div-p-tempo-pequeno{
	display: none;
}

.link-noticia{
	text-decoration: none;
	color: #8600b3;	
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	line-height: 1;
	display: block;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.link-noticia:hover{
	padding: 0 0 5px 0;
	color: #000;
	background: rgba(128, 0, 128, 0.7);
}

.categoria-noticia{
	font-size: 1em;
}

.resumo-materia{
	font-size: 1em;
}

.p-tempo{
	font-size: 0.8em;
	margin-top: 1em;	
}

.materia-sidebar{
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	border: 2px solid #660066;	
}

.descricao-noticia-sidebar > .resumo-materia, .descricao-noticia-sidebar >.p-tempo{
	display: none;
}

.descricao-noticia-sidebar{
	display: flex;
	flex-direction: column;
	margin-right: 5px;
}

.foto-materia-sidebar{
	min-width: 10vw;
	height: 6vw;	
}

.anuncio-sidebar{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f0f;
	font-family: 'Montserrat', sans-serif;
	width: 22vw;
	height: 20vw;
	margin: 10px auto 30px auto;
	--cor1: #4d0039;
	--cor2: #cc0099;
	border: 2px solid black;
}

.anuncio-sidebar p{
	color: #fff;
	font-size: 3vw;
	text-shadow: 1px 1px black;
}

.descricao-noticia-sidebar > .categoria-noticia{
	font-size: 0.9em;
}

.link-noticia-sidebar{
	text-decoration: none;
	color: #8600b3;
	font-family: Montserrat, sans-serif;
	font-size: 1em;
	font-weight: 700;
}

.link-noticia-sidebar:hover{
	color: #000;
	background: rgba(128, 0, 128, 0.7);
	padding: 0 0 5px 0;
}

.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5vw 0 5vw;
	background: #330033;
	width: 100%;
	height: 110px;
	box-sizing: border-box;
	margin-top: 20px;
}

.footer > p{
	color: #fff;
	font-family: 'PT Sans',sans-serif;
	font-weight: 900;
	font-size: 25px;
}

.menu-footer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	box-sizing: border-box;		
}

.menu-footer li a{
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	color: #fff;
	padding: 0 5px;
}

.menu-footer li a:hover{
	background: rgba(250, 250, 250, 0.5);
	color: #000;
	border-radius: 5px;
}

.gradient{
	background: linear-gradient(to right, var(--cor1),var(--cor2), var(--cor1));
}



